---
---

{% for post in site.posts limit:site.data.theme.num_home_posts %}
<div class="post-header-home">
  <h1 class="post-title-home">
    <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
  </h1>
  {% include post-header-home.html %}
</div>
<div class="post-excerpt-home">
  {{ post.excerpt }}
  <p class="text-right"><a class="btn btn-default btn-sm" href="{{ post.url | prepend:site.baseurl }}">继续阅读<i class="fa fa-angle-double-right"></i></a></p>
</div>
{% endfor %}
<hr>
<div class="home-read-more">
  <a href="{{ "/archive" | prepend:site.baseurl }}" class="btn btn-primary btn-block btn-lg">浏览所有 {{ site.posts | size }} 日志 →</a>
</div>
