<!-- <li><a href="{{ "/resume-cv/" | prepend:site.baseurl }}"><i class="fa fa-suitcase"></i> R&eacute;sum&eacute;</a></li>
<li><a href="{{ "/projects/" | prepend:site.baseurl }}"><i class="fa fa-laptop"></i> Projects</a></li> -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#"><i class="fa fa-pencil"></i> Blog <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{{ "/blog/" | prepend:site.baseurl }}">Recent</a></li>
        <li><a href="{{ "/blog/archive/" | prepend:site.baseurl }}">Archive</a></li>
    </ul>
</li>
<!-- <li><a href="{{ "/pmt/" | prepend:site.baseurl }}"><i class="fa fa-circle"></i> PMT</a></li> -->
