<h3 class="section-header">
  Get Shiori
</h3>

<p><a href="https://github.com/ellekasai/shiori" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> Download on GitHub</a></p>

<iframe src="http://ghbtns.com/github-btn.html?user=ellekasai&repo=shiori&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>

<h3>
  Author
</h3>

<p>
  <div class="media">
    <img src="https://avatars0.githubusercontent.com/u/2410692?v=2&s=100" alt="Elle Kasai" class="pull-left">
    <div class="media-body">
      <h4 class="media-heading">Elle Kasai</h4>
    </div>
  </div>
</p>

<p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-count="true" data-dnt="true">Follow @ellekasai</a></p>
