<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <!-- <h3 class="section-header">
    Get Shiori
  </h3>

  <p><a href="https://github.com/ellekasai/shiori" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>

  <h3>
    Author
  </h3> -->

  <p>
    <div class="media">
      <img src="
      https://avatars3.githubusercontent.com/u/20192983?v=3&u=df4e04e779153767654afb34f7032218b8ae4637&s=400
      https://avatars0.githubusercontent.com/u/20192983?v=2&s=100" alt="Sally Park" class="pull-left">
      <div class="media-body">
        <h4 class="media-heading">Sally Park</h4>
      </div>
    </div>
  </p>

  <!-- <p><a href="https://twitter.com/ellekasai" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @ellekasai</a></p> -->

</div>
